# Gradle files
.gradle/
build/
app/build/
captures/
*.idea

# Android Studio files
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/caches/
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/modules/
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
/local.properties

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Built artifacts
bin/
gen/
out/

# Firebase configuration (Sensitive Data)
# אבטחת מפתחות הגישה של הפרויקט שלך

google-services.json
